{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <header class="relative w-full h-full sm:h-screen">
        <!-- Video Background -->
        <video autoplay muted loop class="absolute top-0 left-0 w-full h-full object-cover">
            <source src="{% static "images/bg-vid.mp4" %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    
        <!-- Dark Overlay -->
        <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>
    
        <!-- Content -->
        <div class="relative z-10 h-full text-white text-center w-full">
            <nav class="fixed top-0 w-full h-[50px] border-b border-white/50 flex items-center px-5 sm:px-15 z-[100]">
                <div class="flex justify-between w-full items-center">
                    <div class="hidden md:flex gap-5 text-[12px] font-medium text-[#ffffff91]">
                        <a class="hover:text-white transition duration-300" href="">HOME</a>
                        <a class="hover:text-white transition duration-300" href="#about">ABOUT US</a>
                        <a class="hover:text-white transition duration-300" href="#services">SERVICES</a>
                        <a class="hover:text-white transition duration-300" href="#contact">CONTACT US</a>
                    </div>

                    <div class="fixed top-0 left-0 h-screen w-64 bg-white p-8 text-black text-[12px] font-medium shadow-lg 
    transform -translate-x-full transition-transform duration-300 ease-in-out flex flex-col gap-5" id="menu">
                        <a class="hover:text-white transition duration-300" href="">HOME</a>
                        <a class="hover:text-white transition duration-300" href="#about">ABOUT US</a>
                        <a class="hover:text-white transition duration-300" href="#services">SERVICES</a>
                        <a class="hover:text-white transition duration-300" href="#contact">CONTACT US</a>
                    </div>

                    <div class="h-[40px]">
                        <img class="h-full" src="{% static "images/POOL VILLAS.png" %}" alt="">
                    </div>

                    <div class="hidden md:flex bg-white/50 text-black px-5 py-2 rounded hover:bg-black/50 hover:text-white transition duration-300 text-[12px]">
                        <a href="">
                            CONTACT US
                        </a>
                    </div>

                    <div class="flex md:hidden" id="menuIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                          </svg>                          
                    </div>
                </div>
            </nav>

            <div class="flex flex-col justify-center h-[900px] sm:h-full items-center w-full">
                <div class="grid grid-cols-1 sm:grid-cols-2 mx-5 my-10 sm:mx-20 sm:my-0 gap-10 sm:gap-0">
                    <div class="flex flex-col gap-10 sm:gap-5 mb-5 sm:mb-0">
                        <h1 class="text-[44px] sm:text-[60px] text-left heading">
                            Unforgettable Stays in Timeless Elegance
                        </h1>
                        <div class="w-[150px] bg-white/50 text-black px-7 py-3 rounded-full hover:bg-black/50 hover:text-white transition duration-300 text-[12px] font-medium flex justify-between items-center">
                            <a href="">
                                CONTACT US
                            </a>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                            </svg>
                                                            
                        </div>
                    </div>
                    <div class="flex flex-col justify-end gap-10 sm:gap-5">
                        <div class="flex gap-5 justify-end heading">
                            <h1> &#10004; Luxury Stays</h1>
                            <h1> &#10004; Gourmet Dining</h1>
                            <h1> &#10004; Exclusive Experiences</h1>
                        </div>
                        <p class="text-left text-white/50">Experience unmatched luxury and serenity at Celestre – where elegance, comfort, and breathtaking landscapes create unforgettable memories</p>
                    </div>
                </div>
                {% comment %} <div class="border-2 rounded-2xl border-white/20 w-[90%] mt-20 mb-5 p-2 flex flex-col sm:flex-row justify-between items-center heading">
                    <div class="border-b border-r-0 sm:border-b-0 sm:border-r border-white/30 p-5 w-full">
                        <p>Guest</p>
                        <div class="relative inline-block text-left w-full">
                            <!-- Dropdown Button -->
                            <button id="dropdownButton" class="text-white/50 flex justify-between w-full">
                                <p>Menu</p>
                                <p>&#10010;</p>
                            </button>
                        
                            <!-- Dropdown Menu -->
                            <div id="dropdownMenu" class="absolute left-0 mt-2 w-48 bg-white border border-gray-300 shadow-md rounded-md hidden transition-transform duration-300 z-[100]">
                                <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Option 1</a>
                                <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Option 2</a>
                                <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Option 3</a>
                            </div>
                        </div>
                    </div>

                     <!-- Check In -->
                    <div class="border-b border-r-0 sm:border-b-0 sm:border-r border-white/30 p-5 w-full">
                        <p>Check In</p>
                        <div class="relative max-w-sm">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 1 0 0-2Z"/>
                                </svg>
                            </div>
                            <input id="checkin-date" type="text" class="bg-transparent border text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 border-white/30 dark:placeholder-gray-400 dark:text-white" placeholder="Select date">
                        </div>
                    </div>

                    <!-- Check Out -->
                    <div class="border-b border-r-0 sm:border-b-0 sm:border-r border-white/30 p-5 w-full">
                        <p>Check Out</p>
                        <div class="relative max-w-sm">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 1 0 0 2H5a1 1 0 1 0 0-2Z"/>
                                </svg>
                            </div>
                            <input id="checkout-date" type="text" class="bg-transparent border text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 border-white/30 dark:placeholder-gray-400 dark:text-white" placeholder="Select date">
                        </div>
                    </div>

                    <div class="p-5 w-full">
                        <div class="bg-white/50 text-black px-5 py-2 rounded hover:bg-black/50 hover:text-white transition duration-300">
                            <a href="">Book Now</a>
                        </div>
                    </div>
                </div>  {% endcomment %}
            </div>
        </div>
    </header>

    <div class="h-full py-5 sm:py-20">
        <div class="mx-5 sm:mx-20" id="about">
            <h1 class="font-bold roboto font">ABOUT US</h1>
            <p class="text-[30px] sm:text-[40px] heading">Escape to JC Dale Pool Villa—where luxury, tranquility, and the stunning coastal beauty of Tangasseri come together to create unforgettable moments</p>
        </div>

        <div class="grid sm:grid-cols-12 mx-5 sm:mx-20 my-10 gap-5 sm:gap-0">
            <div class=" sm:block sm:col-span-4">
                <div class="relative h-full">
                    {% comment %} <img class="rounded-2xl h-[300px] sm:h-full w-full object-cover" src="{% static "images/img-1.jpg" %}" alt=""> {% endcomment %}

                    <video autoplay muted loop class="rounded-2xl h-[300px] sm:h-full w-full object-cover">
                        <source src="{% static "images/bg-vid-2.MOV" %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-30 rounded-2xl"></div>
                    <div class="absolute bottom-20 left-0 z-10 text-white w-full">
                        <div class="hidden sm:block mx-5">
                            <p class="text-[40px] heading">Happy Guests</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac ligula vel justo</p>
                            <p class="text-[60px] text-end">100%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sm:col-span-8 sm:px-5 flex flex-col justify-between h-full">
                <p class="text-black/50 text-[18px]">"Nestled in the heart of Tangasseri, our centuries-old ancestral home is surrounded by lush coconut palms and the shimmering turquoise waters of the Arabian Sea. This charming coastal town, affectionately known as Tangy, sits at the southern tip of Kollam (Quilon) in Kerala, South India. Tangasseri (or Thangassery) offers a unique glimpse into Kerala’s rich heritage—God’s Own Country—where winding streets, fresh seafood, and warm-hearted locals create an unforgettable experience. Just a short walk from Tangasseri’s historic churches and its iconic lighthouse, JC Dale Pool Villa provides the perfect getaway for both short and long stays. Come and experience the essence of The Good Life at Tangy with us!"</p>
                <div class="flex gap-5 flex-wrap mt-10">
                    <div class="bg-[url('https://www.keralatourism.org/_next/image/?url=http%3A%2F%2F127.0.0.1%2Fktadmin%2Fimg%2Fpages%2Flarge-desktop%2Fruins-of-thangassery-fort-1729243963_50c8e91671a10302a9a8.webp&w=1920&q=75')] h-[100px] w-[100px] bg-cover bg-center rounded-full"></div>
                    <div class="bg-[url('https://scontent.ftrv6-1.fna.fbcdn.net/v/t39.30808-6/474592688_122193606548060708_8148569151790203459_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=pt4n8sSYdu4Q7kNvgEnI5vn&_nc_oc=AdmqAmL9E8F5Lz-K8McNFVu9rjY7NqhZ02j22OpaW2leKpSVm-dbrEQ4x7ZDAl6RoTc&_nc_zt=23&_nc_ht=scontent.ftrv6-1.fna&_nc_gid=8eYDqzCMcsyqauaMVBKsyw&oh=00_AYELuITjf08Ej6_wwC3IT1D0AfLuggE5fcuR8MRR9IC1Ig&oe=67F17E76')] h-[100px] w-[100px] bg-cover bg-center rounded-full"></div>
                    <div class="bg-[url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/10/be/73/88/img-20170911-wa0033-largejpg.jpg?w=1100&h=600&s=1')] h-[100px] w-[100px] bg-cover bg-center rounded-full"></div>
                    <div class="bg-[url('https://thumbs.dreamstime.com/b/thangassery-lighthouse-cliff-surrounded-palm-trees-big-sea-waves-kollam-beach-kerala-india-red-white-stripe-90512850.jpg')] h-[100px] w-[100px] bg-cover bg-center rounded-full"></div>
                </div>
                <div class="flex justify-end my-10">
                    <a class="roboto px-5 py-2 bg-green-500/30 font-medium text-black/80 rounded-full text-center hover:bg-blue-50 hover:text-black duration-300 animate-bounce" href="#">Read More</a>
                </div>
                {% comment %} <div class="grid sm:grid-cols-3 gap-4 h-[800px] sm:h-[300px]">
                    <div class="rounded-2xl bg-green-500/30 p-5">
                        <div class="flex flex-col justify-between h-full">
                            <h5 class="text-[25px]">Luxury Accommodations </h5>
                            <p> Offer a variety of rooms, suites, or villas with top-tier amenities, breathtaking views, and personalized services.</p>
                            <div class="h-full w-full my-2 bg-cover bg-center rounded bg-[url('https://img.freepik.com/free-photo/silhouette-palm-tree-with-umbrella_74190-4056.jpg?t=st=1743147007~exp=1743150607~hmac=6af67e881a5daa20858fee8c4e3db7c2a3ca310856b2ab43831100688f9b0728&w=1380')]"></div>
                        </div>
                    </div>
                    <div class="rounded-2xl bg-green-500/30 p-5">
                        <div class="flex flex-col justify-between h-full">
                            <h5 class="text-[25px]">Adventure & Activities</h5>
                            <p>Highlight guided tours, water sports, hiking, or cultural experiences available for guests to enjoy.</p>
                            <div class="h-full w-full my-2 bg-cover bg-center rounded bg-[url('https://img.freepik.com/free-photo/parents-kids-spending-time-together_23-2149489527.jpg?t=st=1743147489~exp=1743151089~hmac=e61f5f7189284bc2541757b14d64f84d567055e31ed977077eed29d1533fda6a&w=1380')]"></div>
                        </div>
                    </div>
                    <div class="rounded-2xl bg-green-500/30 p-5">
                        <div class="flex flex-col justify-between h-full">
                            <h5 class="text-[25px]">Exclusive Spa & Wellness </h5>
                            <p> Provide relaxing spa treatments, yoga sessions, and wellness programs to enhance guest relaxation.</p>
                            <div class="h-full w-full my-2 bg-cover bg-center rounded bg-[url('https://img.freepik.com/free-photo/resort-cheers_1098-14528.jpg?t=st=1743147678~exp=1743151278~hmac=b6a29c2aea4288718136170fcb0cf0343253e526abbbe7d844915b7d86af8de6&w=1380')]"></div>
                        </div>
                    </div>
                </div> {% endcomment %}

                <div class="rounded-2xl sm:bg-green-500/30 sm:p-5">
                    <h4 class="roboto font-bold text-[20px] mb-3 text-black/80">Our newly renovated and generously sized home accommodates up to 6 guests and includes:</h4>
                    <ul class="list-disc list-inside space-y-2 text-black/60">
                        <li>2 comfortable air-conditioned bedrooms </li>
                        <li>A dedicated reading room and dressing room </li>
                        <li>2 modern bathrooms</li>
                        <li>A fully equipped main kitchen</li>
                        <li>A secondary kitchen with a fridge, microwave, crockery and  cutlery</li>
                        <li>A spacious living and dining area perfect for relaxing and entertaining</li>
                        <li>Laundry facilities including a washing machine for a hassle-free stay</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="my-10 mx-5 sm:mx-20">
            <h1 class="font-bold roboto font">Gallery</h1>
            <p class="text-[30px] sm:text-[40px] heading mb-5">Explore stunning moments from our villa</p>
            <div class="grid sm:grid-cols-2 w-full gap-2">
                <div class="bg-[url(/static/images/img-13.jpeg)] bg-cover bg-center rounded-2xl mb-1 h-[250px] sm:h-[400px]"></div>
                <div class="bg-[url('/static/images/img-21.jpeg')] bg-cover bg-center rounded-2xl mb-1 h-[250px] sm:h-[400px]"></div>
                <div class="bg-[url('/static/images/img-10.jpeg')] bg-cover bg-center rounded-2xl mb-1 h-[250px] sm:h-[400px]"></div>
                <div class="bg-[url('/static/images/img-4.jpeg')] bg-cover bg-center rounded-2xl mb-1 h-[250px] sm:h-[400px]"></div>
            </div>
        </div>

        <div class="bg-[#eee4e3] py-30" id="services">
            <div class="mx-5 sm:mx-20">
                <h1 class="font-bold roboto font">Exclusive Amenities</h1>
                <p class="text-[30px] sm:text-[40px] heading">Exceptional Amenities for an Unforgettable Stay</p>

                <div class="grid sm:grid-cols-4 mt-10 gap-5">
                    <div class="flex flex-col gap-5 h-full w-full sm:pr-3">
                        <img class="rounded-2xl transition-transform duration-300 hover:-translate-y-2 h-full" src="https://images.pexels.com/photos/261181/pexels-photo-261181.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <p class="text-[30px] roboto">Infinity Pool</p>
                    </div>
                    <div class="flex flex-col gap-5 h-full w-full sm:pr-3">
                        <img class="rounded-2xl transition-transform duration-300 hover:-translate-y-2 h-full" src="https://images.pexels.com/photos/3757942/pexels-photo-3757942.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <p class="text-[30px] roboto">Spa & Wellness</p>
                    </div>
                    <div class="flex flex-col gap-5 h-full w-full sm:pr-3">
                        <img class="rounded-2xl transition-transform duration-300 hover:-translate-y-2 h-full" src="https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                        <p class="text-[30px] roboto">Fine Dining</p>
                    </div>
                    <div class="flex flex-col justify-end gap-5 h-full w-full sm:pr-3">
                        <p class="roboto text-black/50">Enjoy premium comforts and top-notch facilities designed for a perfect stay.</p>
                        <div class=" mt-10 animate-bounce">
                            <a class="roboto px-5 py-2 bg-green-500/30 font-medium text-black/80 rounded-full text-center hover:bg-blue-50 hover:text-black duration-300 animate-bounce" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-5 sm:mx-20 my-20 bg-[url(/static/images/img-3.jpg)] bg-fixed h-[550px] bg-cover bg-center rounded-2xl text-white p-5 flex justify-center items-center">
            <div class="grid sm:grid-cols-2 gap-5 sm:gap-0">
                <div class="flex flex-col">
                    <h4 class="text-[40px] heading">Start Your Luxurious Experience Today</h4>
                    <div class="flex w-full gap-10">
                        <div class=" mt-10 roboto px-5 py-2 bg-green-500/30 font-medium text-black/80 rounded-full text-center hover:bg-blue-50 hover:text-black duration-300 animate-bounce">
                            <a class="" href="#">Read More</a>
                        </div>
                        <div class="bg-white/50 text-black px-5 py-2 rounded hover:bg-black/50 hover:text-white transition duration-300 mt-10">
                            <a href="">Book Now</a>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col justify-end">
                    <div class="flex gap-5">
                        <i class="ri-facebook-circle-fill text-[25px]"></i>
                        <i class="ri-instagram-line text-[25px]"></i>
                        {% comment %} <i class="ri-youtube-line text-[25px]"></i> {% endcomment %}
                        <a href="https://wa.me/9895612402" target="_blank" class="flex gap-2 items-center"><i class="ri-whatsapp-line text-[25px]"></i></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac ligula vel justo suscipit eleifend. Nullam viverra, metus vel interdum tincidunt, ligula sapien vulputate elit</p>
                </div>
            </div>
        </div>

        <div class="bg-[#eee4e3] py-10 sm:py-30">
            <div class="relative mx-5 sm:mx-20">
                <div class="flex flex-col gap-96 sm:gap-40">
                    <div class="flex justify-between">
                        <img class="sm:h-[270px] sm:w-[270px] h-[100px] w-[150px] rounded-2xl object-cover" src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" alt="">

                        <img class="h-[130px] w-[190px] sm:h-[230px] sm:w-[370px] rounded-2xl object-cover" src="https://images.pexels.com/photos/5774001/pexels-photo-5774001.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                    </div>

                    <div class="flex justify-between">
                        <img class="h-[130px] w-[190px] sm:h-[230px] sm:w-[370px] rounded-2xl object-cover" src="https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">

                        <img class="sm:h-[270px] sm:w-[270px] h-[100px] w-[150px] rounded-2xl object-cover" src="https://images.pexels.com/photos/7783364/pexels-photo-7783364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                    </div>

                    <div class="absolute flex flex-col h-full justify-center items-center sm:top-1/2 sm:left-1/2 sm:transform sm:-translate-x-1/2 sm:-translate-y-1/2 text-center">
                        <div class="flex flex-col gap-3 sm:gap-10">
                            <h1 class="font-bold roboto font">Dining</h1>
                            <p class="text-[30px] sm:text-[60px] heading">A Culinary Journey ofElegance & Flavor</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac ligula vel justo suscipit eleifend. </p>
                            <div class="flex justify-center items-center">
                                <div class=" mt-10 roboto px-5 py-2 bg-green-500/30 font-medium text-black/80 rounded-full text-center hover:bg-blue-50 hover:text-black duration-300 animate-bounce">
                                    <a class="" href="#">See Menu</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="mx-5 sm:mx-20 my-20">
            <div class="grid sm:grid-cols-2 gap-5">
                <div class="flex flex-col justify-between">
                    <div class="flex flex-col">
                        <h1 class="font-bold roboto font">Guest Testimonials</h1>
                        <p class="text-[30px] sm:text-[40px] heading">Our Guests Love Their Stay—See Why!</p>
                    </div>
                    <p class="text-black/50">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ullam recusandae excepturi inventore nam qui exercitationem fuga eligendi autem omnis? Cum sunt impedit asperiores at nisi unde delectus officia dicta, eius quos ut corrupti sequi tenetur qui hic velit quo accusamus? Rem eveniet quia exercitationem molestiae eligendi nisi, fugit voluptates veritatis atque ad. Minima voluptates nobis ea. Eveniet magni dolor quod, molestias ratione nihil, placeat in dolores enim nisi assumenda eum cupiditate fuga optio sapiente reprehenderit harum tempore eligendi repellat tenetur? Eveniet quasi assumenda mollitia aspernatur, magni similique, deleniti recusandae, ea cupiditate error obcaecati animi. Vitae odio minima corrupti doloremque?</p>
                    <div class=" w-full overflow-hidden">
                        <div id="testimonialContainer" class="flex transition-transform duration-500 ease-in-out">
                            <!-- Testimonial 1 -->
                            <div class="min-w-full p-2 sm:p-6 text-center bg-gray-100 rounded-lg">
                                <p class="text-lg italic">"Amazing experience! Loved every moment!"</p>
                                <h3 class="mt-2 font-bold">- John Doe</h3>
                            </div>
                            <!-- Testimonial 2 -->
                            <div class="min-w-full p-2 sm:p-6 text-center bg-gray-100 rounded-lg">
                                <p class="text-lg italic">"Great service and wonderful ambiance!"</p>
                                <h3 class="mt-2 font-bold">- Jane Smith</h3>
                            </div>
                            <!-- Testimonial 3 -->
                            <div class="min-w-full p-2 sm:p-6 text-center bg-gray-100 rounded-lg">
                                <p class="text-lg italic">"I will definitely come back again!"</p>
                                <h3 class="mt-2 font-bold">- Alex Johnson</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <img class="h-[400px] sm:h-[600px] w-full rounded-2xl object-cover" src="https://images.pexels.com/photos/16866482/pexels-photo-16866482/free-photo-of-holidays-tropical-resort.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                </div>
            </div>
        </div>

        <div class="relative bg-[url(https://images.mercuryholidays.co.uk/cms/36796/44631942-kerala-private-tours.jpg?w=1920)] bg-fixed bg-cover bg-center bg-no-repeat py-1">
            <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>
            <div class="mx-5 sm:mx-20 my-10 text-white relative z-10">
                <p class="text-[30px] sm:text-[40px] heading mb-5 font-bold">Discover Kerala</p>

                <div class="grid sm:grid-cols-2 gap-5 sm:gap-10">
                    <div class="flex flex-col gap-1">
                        <h5 class="font-bold roboto font text-[20px]">Why Choose Kerala ?</h5>
                        <p class="text-white/80">Kerala, known as God’s Own Country, is a paradise of lush green landscapes, serene backwaters, pristine beaches, and rich cultural heritage. Whether you seek adventure in the Western Ghats, a relaxing houseboat cruise in Alleppey, or the vibrant festivals and delicious cuisine, Kerala offers a unique and unforgettable travel experience.</p>
                    </div>
                    <div class="flex flex-col gap-1">
                        <h5 class="font-bold roboto font text-[20px]">Why Choose Tangasseri ?</h5>
                        <p class="text-white/80">Tangasseri, a charming coastal town in Kerala, is a hidden gem rich in history, culture, and scenic beauty. Known for its iconic lighthouse, historic churches, and serene beaches, this quaint destination offers a perfect blend of heritage and tranquility. Whether you're exploring its colonial past or enjoying the fresh seafood and warm hospitality, Tangasseri promises a unique and memorable experience.</p>
                    </div>
                </div>

                {% comment %} <div class="relative w-full max-w-4xl mx-auto overflow-hidden">
                    <!-- Carousel Wrapper (Fixed Width) -->
                    <div class="overflow-hidden">
                        <div id="carousel" class="flex transition-transform duration-500 ease-in-out">
                            <!-- Individual Slides -->
                            <div class="w-1/3 flex-shrink-0 p-2"><div class="bg-red-500 h-60 flex items-center justify-center text-white text-2xl">Slide 1</div></div>
                            <div class="w-1/3 flex-shrink-0 p-2"><div class="bg-blue-500 h-60 flex items-center justify-center text-white text-2xl">Slide 2</div></div>
                            <div class="w-1/3 flex-shrink-0 p-2"><div class="bg-green-500 h-60 flex items-center justify-center text-white text-2xl">Slide 3</div></div>
                            <div class="w-1/3 flex-shrink-0 p-2"><div class="bg-yellow-500 h-60 flex items-center justify-center text-white text-2xl">Slide 4</div></div>
                            <div class="w-1/3 flex-shrink-0 p-2"><div class="bg-purple-500 h-60 flex items-center justify-center text-white text-2xl">Slide 5</div></div>
                            <div class="w-1/3 flex-shrink-0 p-2"><div class="bg-pink-500 h-60 flex items-center justify-center text-white text-2xl">Slide 6</div></div>
                        </div>
                    </div>
                </div> {% endcomment %}

                <div class=" w-full overflow-hidden my-10">
                    <div id="keralaCarousal" class="flex transition-transform duration-500 ease-in-out">
                        
                        <div class="min-w-full flex flex-col sm:flex-row justify-center items-center gap-5">
                            <img class="h-[250px] w-full sm:w-[350px] rounded-t-lg sm:rounded-l-lg sm:rounded-t-none" src="https://content.r9cdn.net/rimg/dimg/a9/dd/d6b29241-city-44818-166a7453734.jpg?width=1200&height=630&xhint=1600&yhint=1049&crop=true" alt="">
                            <div>
                                <h5 class="font-bold roboto font text-[20px]">Munnar</h5>
                                <p class="text-white/80">Munnar, a picturesque hill station in Kerala, is known for its lush tea plantations, misty mountains, and serene landscapes. Nestled in the Western Ghats, it offers breathtaking views, cascading waterfalls, and rich biodiversity. Visitors can explore Eravikulam National Park, trek to Anamudi Peak, or simply unwind amidst the cool, refreshing climate. Whether you're a nature lover or an adventure seeker, Munnar is a perfect retreat for a peaceful getaway</p>
                            </div>
                        </div>
                        
                        <div class="min-w-full flex flex-col sm:flex-row justify-center items-center gap-5 ">
                            <img class="h-[250px] w-full sm:w-[350px] rounded-t-lg sm:rounded-l-lg sm:rounded-t-none" src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Alappuzha_Boat_Beauty_W.jpg" alt="">
                            <div>
                                <h5 class="font-bold roboto font text-[20px]">Alleppey (Alappuzha)</h5>
                                <p class="text-white/80">Alleppey, also known as Alappuzha, is famous for its enchanting backwaters, houseboat cruises, and scenic beauty. Often called the "Venice of the East," this serene destination offers a unique experience of Kerala’s tranquil waterways lined with lush coconut palms and quaint villages. Visitors can enjoy a relaxing boat ride, witness the iconic Nehru Trophy Boat Race, and indulge in delicious Kerala seafood. Whether you're seeking peace or adventure, Alleppey is a must-visit destination.</p>
                            </div>
                        </div>

                        <div class="min-w-full flex flex-col sm:flex-row justify-center items-center gap-5 ">
                            <img class="h-[250px] w-full sm:w-[350px] rounded-t-lg sm:rounded-l-lg sm:rounded-t-none" src="https://media1.thrillophilia.com/filestore/iyhdsi3ipex60his53wn4duhig2r_shutterstock_1688004694.jpg?w=400&dpr=2" alt="">
                            <div>
                                <h5 class="font-bold roboto font text-[20px]">Kochi (Cochin)</h5>
                                <p class="text-white/80">Kochi, also known as Cochin, is a vibrant port city that blends history, culture, and modernity. Known as the Queen of the Arabian Sea, Kochi boasts colonial-era architecture, bustling markets, and stunning waterfront views. Visitors can explore the iconic Chinese fishing nets, Fort Kochi’s charming streets, the historic Mattancherry Palace, and the lively Jew Town. With its rich spice trade heritage and diverse culinary scene, Kochi offers an unforgettable experience for travelers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-5 sm:mx-20 my-10">
            <h1 class="font-bold roboto font">CONTACT US</h1>
            <p class="text-[30px] sm:text-[40px] heading mb-10">Book Your Stay – Experience Comfort & Luxury</p>

            <div class="grid sm:grid-cols-2">
                <div class="flex flex-col gap-5">
                    <div class="grid sm:grid-cols-2 gap-5">
                        <div class="flex flex-col sm:flex-row gap-5">
                            <div class="w-full">
                                <label for="first-name" class="block text-sm/6 font-semibold text-gray-900">First name</label>
                                <div class="mt-2.5">
                                  <input type="text" name="first-name" id="first-name" placeholder="Bruno" autocomplete="given-name" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-black">
                                </div>
                            </div>
                            <div class="w-full">
                                <label for="last-name" class="block text-sm/6 font-semibold text-gray-900">Last name</label>
                                <div class="mt-2.5">
                                  <input type="text" name="last-name" id="last-name" placeholder="Mars" autocomplete="family-name" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-black">
                                </div>
                            </div>
                        </div>
                        <div class="w-full">
                            <label for="email" class="block text-sm/6 font-semibold text-gray-900">Email</label>
                            <div class="mt-2.5">
                                <input type="email" name="email" id="email" placeholder="example123@gmail.com" autocomplete="email" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-black">
                            </div>
                        </div>
                    </div>
        
                    <div class="grid sm:grid-cols-2 gap-5">
                        <div class="flex gap-5"> 
                            <div class="border-b border-r-0 sm:border-b-0 sm:border-r border-white/30 w-full">
                                <p class="mb-2 block text-sm/6 font-semibold text-gray-900">Check In</p>
                                <div class="relative max-w-sm">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 1 0 0-2Z"/>
                                        </svg>
                                    </div>
                                    <input id="checkin-date" type="text" class="bg-transparent border text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full ps-10 p-2.5 border-black/20" placeholder="Select date">
                                </div>
                            </div>
                            <div class="border-b border-r-0 sm:border-b-0 sm:border-r border-white/30 w-full">
                                <p class="mb-2 block text-sm/6 font-semibold text-gray-900">Check Out</p>
                                <div class="relative max-w-sm">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 1 0 0-2Z"/>
                                        </svg>
                                    </div>
                                    <input id="checkin-date" type="text" class="bg-transparent border text-gray-900 text-sm rounded-lg focus:ring-blue-500 block w-full ps-10 p-2.5 border-black/20" placeholder="Select date">
                                </div>
                            </div>
                            
                        </div>
                        <div class="flex gap-5">
                            <div class="w-full">
                                <label for="guests" class="block text-sm/6 font-semibold text-gray-900">Number of Guest's</label>
                                <div class="mt-2.5">
                                    <input type="email" name="email" id="email" placeholder="eg:5" autocomplete="guests" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-black">
                                </div>
                            </div>
                            <div class="w-full">
                                <label for="phn" class="block text-sm/6 font-semibold text-gray-900">Phone no</label>
                                <div class="mt-2.5">
                                    <input type="email" name="email" id="email" placeholder="+91 7373069866" autocomplete="phn" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-black">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    
                    <div class="w-full">
                        <label for="message" class="block text-sm/6 font-semibold text-gray-900">Message</label>
                        <div class="mt-2.5">
                            <input type="text" name="last-name" id="last-name" placeholder="" autocomplete="family-name" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-black h-[150px] sm:h-[250px]">
                        </div>
                    </div>
    
                    <button type="submit" class="bg-green-500/30 hover:bg-blue-50 text-black font-semibold py-2 px-4 rounded-md transition duration-300 cursor-pointer w-[150px]">
                        Submit
                    </button>
    
                </div>

                <img class="h-[550px] hidden sm:block" src="https://bootstrapmade.com/content/demo/Blogy/assets/img/cta/cta-1.webp" alt="">
            </div>

            
        </div>
        
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d492.7443858370485!2d76.56899510560872!3d8.88376800175612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1743244657530!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <footer class="bg-[url(/static/images/img-13.jpeg)] relative bg-fixed bg-cover bg-center bg-no-repeat p-5 sm:p-20 text-white/70 roboto" id="contact">
        <div class="absolute top-0 left-0 w-full h-full bg-black opacity-70"></div>
        <div class="grid sm:grid-cols-2 gap-10 relative z-10">
            <div class="flex flex-col gap-5">
                <img class="h-[150px] w-[400px]" src="{% static "images/POOL VILLAS.png" %}" alt="">
                {% comment %} <p class="text-[20px]">An Exclusive Escape, Wrapped in Elegance</p> {% endcomment %}
                <p>VHPC+FC4, Thangassery Rd, Thangasherry East, Thangassery, Kollam, Kerala 691007</p>
            </div>
            

            <div class="grid sm:grid-cols-3 gap-5 sm:gap-3">
                
                <div class="flex flex-col justify-between col-span-1">
                    <p class="text-[20px]">Quick Links</p>

                    <p>Home</p>
                    <p>About Us</p>
                    <p>Services</p>
                    <p>Gallery</p>
                </div>

                <div class="flex gap-3 col-span-2">
                    <div class="flex flex-col justify-between">
                        <img class="h-[200px] rounded-2xl" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                    </div>
    
                    <div class="flex flex-col justify-between">
                        <div class="flex gap-2 items-center"><i class="ri-facebook-circle-fill text-[25px]"></i> Facebook</div>
                        <div class="flex gap-2 items-center"> <i class="ri-instagram-line text-[25px]"></i> Instagram</div>
                        {% comment %} <div class="flex gap-2 items-center"> <i class="ri-youtube-line text-[25px]"></i>YouTube</div> {% endcomment %}
                        <a href="https://wa.me/9895612402" target="_blank" class="flex gap-2 items-center"><i class="ri-whatsapp-line text-[25px]"></i>What's App</a>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>
</html>